body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content{
    flex: 1;
}
  
.header {
    top: 0%;
    background: #191919; 
    color: 	#ab854e; 
    font-family: Arial, Helvetica, sans-serif;
    /* position: sticky; */
    width: 100%;
    z-index: 1;  
      
}
.header>h2 {
    margin: 0%;
    text-align: center;
    padding: 6vh 0 6vh 0;
}
.header>img{
    /* padding: 0 0 1.25vh 0; */
    
    float: left;
    margin-left:2.5vw;
    width: 10%;
    min-width: 100px;
}
  
.header h1 {
    font-size: 40px;
}
  
  
.navbar {
    overflow: hidden;
    background-color:#191919; 
    position: sticky;
    top: 0%;
    z-index: 1;
}
  
  
.navbar a {
    float: left;
    display: block; 
    color: #ab854e;
    text-align: center; 
    padding: 14px 20px;
    text-decoration: none; 
}
  
.navbar a.right {
    float: right; 
}
  
.navbar a:hover {
    background-color: #ddd; 
    color: black; 
}
  
*{
    box-sizing: border-box;
}
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}
.footer {
    width: 100%;
    text-align: center;
    background: #191919; 
    color: 	#ab854e;
    margin-bottom: 0%;
  }
.footer>p{
    text-align: center;
}
.footer>a>img{
    max-width:30px;
}
#text1>h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ab854e;
    
}
.about{
    display: flex
}

#text1{
    flex: 1;
    float: left;
    padding: 2%;
    padding-left: 5%;
}

#text1>hr{
    color: #ab854e;
    height: 0.5%;
    background-color: #ab854e;
    border:0;
    width: 50%;
    float: left;
}
#text1>p{
    color: #bfbfbf;
    font-size: x-large;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-align: justify;
}

#poza1{
    flex: 1;
    float: right;
    padding: 2%;
}
#poza1>img{
    max-height: 40vh;
    margin-top: 5vh;
}
#text2>h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ab854e;
    
}
.vipcorporate{
    display: flex
}

#text2{
    flex: 1;
    float: right;
    padding: 2%;
    padding-right: 5%;
}

#text2>hr{
    color: #ab854e;
    height: 0.5%;
    background-color: #ab854e;
    border:0;
    width: 50%;
    float: left;
}
#text2>p{
    color: #bfbfbf;
    font-size: x-large;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    text-align: justify;
}

#poza2{
    flex: 1;
    float: right;
    padding: 2%;
    
}
#poza2>img{
    float: right;
    max-height: 40vh;
    margin-top: 5vh;
}


#text3>h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ab854e;
    
}
.join{
    display: flex
}

#text3{
    flex: 1;
    float: left;
    padding: 2%;
    padding-left: 5%;
  
}

#text3>hr{
    color: #ab854e;
    height: 0.5%;
    background-color: #ab854e;
    border:0;
    width: 50%;
    float: left;
}
#text3>p{
    color: #bfbfbf;
    font-size:x-large;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    text-align: justify;
}

#poza3{
    flex: 1;
    float: right;
    padding: 2%;    
}
#poza3>img{
    max-height: 40vh;
    margin-top: 5vh;
}