html{
    height: 100%;
  }
  body{
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .content{
    flex: 1;
  }
  .header {
    top: 0%;
      background: #191919; 
      color: 	#ab854e; 
      font-family: Arial, Helvetica, sans-serif;
      /* position: sticky; */
      width: 100%;
      z-index: 1;
      
  }
  .header>h2 {
    margin: 0%;
    text-align: center;
    padding: 6vh 0 6vh 0;
    font-style: italic;
  }
  .header>img{
    /* padding: 0 0 1.25vh 0; */
    
    float: left;
    margin-left:2.5vw;
    width: 10%;
    min-width: 100px;
  }
  
  .header h1 {
    font-size: 40px;
  }
  
  * {
    box-sizing: border-box;
  }

  .navbar {
    overflow: hidden;
    background-color:#191919; 
    position: sticky;
    top: 0%;
    z-index: 1;
  }
  
  
  .navbar a {
    float: left;
    display: block; 
    color: #ab854e;
    text-align: center; 
    padding: 14px 20px;
    text-decoration: none; 
  }
  
  .navbar a.right {
    float: right; 
  }
  
  .navbar a:hover {
    background-color: #ddd; 
    color: black; 
  }
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .footer {
    width: 100%;
    text-align: center;
    background: #191919; 
    color: 	#ab854e;
    margin-bottom: 0%;
  }
  .footer>p{
    text-align: center;
  }
  .footer>a>img{
    max-width:30px;
  }
  .main > h1{
    color: 	#ab854e;
    text-align: center;
  }
  .contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .date > p{
    color: #d0d0d0;;
  }
  .title >p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  .date > a{
    text-decoration: none;
    color: #ec4858;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  .date{
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background-color: #191919;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }