<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/contact.css">
    <script src="css/submit.js"></script>
    <script src="css/text.js"></script>
    <title>Bora Bora</title>
</head>
<body>
    <div class="content">
    <div class="header">
        <img src="css/logo.png" alt="logo">
        <h2 id="coloredText">Probably the best manele club in the world.</h2>
    </div>

    <div class="navbar">
        <a href="\home">Acasa</a>
        <a href="\about">Despre</a>
        <a href="\events">Evenimente</a>
        <a href="\menu">Meniu</a>
        <a href="\contact">Contact</a>
        <% if(user.userid){ %>
            <a href="/logout" class="right">Logout</a>
            <a href="/myaccount" class="right"><%= user.userid %></a>
            
        <%} else {%>
            <a href="/login" class="right">Log in </a>
            <a href="/signup" class="right">Sign up</a>
        <%}%>
    </div> 
    <div class="main" id="niam">
        <h1>Contacteaza-ne<hr></h1>
        <div class="contact">
            <div class="date">
                <div class="title">
                    <p>PROGRAM</p>
                </div>
                <a href="\events">Vezi program evenimente</a>
                <p>Rezervari - Suna la 0768232734</p>
                <p>Petreceri private - Suna la 0768232734</p>
            </div>
            <div class="date">
                <div class="title">
                    <p>REGULAMENT</p>
                </div>
                <p>Obiecte pierdute - Suna la 0768232734</p>
                <p>Stil vestimentar - de paranghelie</p>
                <p>Fumat - Zona special amenajata</p>
                <p>Limita de varsta - 18 ani</p>
            </div>
            <div class="date">
                <div class="title">
                    <p>CUM AJUNGI LA NOI</p>
                </div>
                <p>Metrou pana la Piata Unirii - plimbare pe jos 2 min</p>
                <p>Tramvaie: 7, 27, 47, 32</p>
                <p>Uber sau Limuzina</p>
            </div>
        </div>
        <% if(user.userid){ %>
            <h1>Fa o rezervare!<hr></h1>
            <div class="reservation">
                <form method="post" id="formular">
                    <input type="name" placeholder="Nume" name="name" required class="reservationform"/>
                    <input type="email" placeholder="Email" name="email" required class="reservationform"/>
                    <input type="phone" placeholder="Numar Telefon" name="phone" required class="reservationform"/>
                    <input type="date" placeholder="Data" name="date" id="datefield" required class="reservationform"/>
                    <input type="number" placeholder="1" value="1" name="number" min="1" required class="reservationform"/>
                    <div id="tabletype">
                        <p>Alege tipul de masa:</p>
                        <div id="type">
                            <input type="radio" name="table" id="regular" value="regular" required/>
                            <label for="regular">Regular</label>
                            <input type="radio" name="table" id="vip" value="vip" required/>
                            <label for="vip">VIP</label>
                        </div>
                    </div>                
                    <input type="submit" id="submit"/>
                </form>
            </div>  
        <%} else {%>
            <h1>Conecteaza-te pentru a putea face o rezervare!<hr></h1>
        <%}%>
        
    </div>
    </div>
    <div class="footer">
        <p>© Copyright 2022  |  Bora Bora |  Toate Drepturile Rezervate  | Politica de confidentialitate </p>
        <a href="https://www.facebook.com/boraboranightclub">
             <img src="css/facebookicon.png" alt="logoFacebook">
            </a>
    </div>
</body>
</html>