<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <!-- <script src="slideshow.js"></script> -->
    <script src="css/text.js"></script>
    <title>Bora Bora</title>
</head>
<body>
    <div class="content">
    <div class="header">
        <img src="css/logo.png" alt="logo">
        <h2 id="coloredText">Probably the best manele club in the world.</h2>
    </div>

    <div class="navbar">
        <a href="\home">Acasa</a>
        <a href="\about">Despre</a>
        <a href="\events">Evenimente</a>
        <a href="\menu">Meniu</a>
        <a href="\contact">Contact</a>
        <% if(user){ %>
            <a href="/logout" class="right">Logout</a>
            <a href="/myaccount"class="right"><%= user.email %></a>
            
        <%} else {%>
            <a href="/login" class="right">Log in </a>
            <a href="/signup" class="right">Sign up</a>
        <%}%>
    </div>
    <div class="main">
        <div id="menuButton">
            <h1>Meniu<hr></h1>
            <div id="options">
                <a href="#softdrinks"> Soft Drinks</a>
                <a href="#bere"> Bere</a>
                <a href="#sampanie"> Sampanie</a>
                <a href="#shoturi"> Shoturi</a>
            </div>
        </div>
        <div class="menu">
            <div class="submenu" id="softdrinks">
                <h2>Soft Drinks<hr></h2>
               <div class="line">
                <p class="product"><b>Dorna Plata/Minerala 500 ml</b></p>
                <p class="price">10 RON</p>
               </div>
               <div class="line">
                <p class="product"><b>Coca-Cola / Coca-Cola Zero / Fanta / Sprite 330 ml</b></p>
                <p class="price">12 RON</p>
               </div>
               <div class="line">
                <p class="product"><b>Fuzetea Lemon / Peach 330 ml</b></p>
                <p class="price">12 RON</p>
               </div>
               <div class="line">
                <p class="product"><b>Suc Natural de Mere/Banane/Portocale/Piersici/Ananas 400 ml</b></p>
                <p class="price">14 RON</p>
               </div>
               <div class="line">
                <p class="product"><b>RedBull / Burn 250 ml</b></p>
                <p class="price">12 RON</p>
               </div>
               <div class="line">
                <p class="product"><b>Limonada clasica 600 ml</b></p>
                <p class="price">16 RON</p>
               </div>
               <div class="line">
                <p class="product"><b>Limonada aromata 600 ml</b></p>
                <p class="price">18 RON</p>
               </div>
            </div>
        </div>
        <div class="menu">
            <div class="submenu" id="bere">
                <h2>Bere<hr></h2>
                <div class="line">
                    <p class="product"><b>Ursus 330 ml</b></p>
                    <p class="price">10 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Tuborg 330 ml</b></p>
                    <p class="price">10 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Carlsberg 330 ml</b></p>
                    <p class="price">12 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Weihenstephaner 330 ml</b></p>
                    <p class="price">18 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Weihenstephaner 500 ml</b></p>
                    <p class="price">20 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Holsten Nefiltrat 500 ml</b></p>
                    <p class="price">18 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Guinness 330 ml</b></p>
                    <p class="price">18 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Grimbergen Ambree 330 ml</b></p>
                    <p class="price">18 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Somersby Apple/Blackberry/Blueberry/Pear 330 ml</b></p>
                    <p class="price">12 RON</p>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="submenu" id="sampanie">
                <h2>Spumant / Sampanie<hr></h2>
                <div class="line">
                    <p class="product"><b>Proseco 750 ml</b></p>
                    <p class="price">90 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Gordon Rouge Mumm 750 ml</b></p>
                    <p class="price">400 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Moët Chandon 750 ml</b></p>
                    <p class="price">500 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Don Perignon 750 ml</b></p>
                    <p class="price">1000 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Moët Chandon foita de aur 750 ml</b></p>
                    <p class="price">1000 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Don Perignon foita de aur 750 ml</b></p>
                    <p class="price">1500 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Moët Chandon roaba 1000 ml</b></p>
                    <p class="price">2000 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Don Perignon roaba 1000 ml</b></p>
                    <p class="price">3500 RON</p>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="submenu" id="shoturi">
                <h2>Shoturi<hr></h2>
                <div class="line">
                    <p class="product"><b>B52/Kamikaze/Red Line/Passport to Hell/Blow Job 40 ml</b></p>
                    <p class="price">15 RON</p>
                </div>
                <div class="line">
                    <p class="product"><b>Flaming Lamborghini 150 ml</b></p>
                    <p class="price">50 RON</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <p>© Copyright 2022  |  Bora Bora |  Toate Drepturile Rezervate  | Politica de confidentialitate </p>
        <a href="https://www.facebook.com/boraboranightclub">
             <img src="css/facebookicon.png" alt="logoFacebook">
            </a>
    </div>
</body>
</html>