<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/template.css">
    <script src="css/text.js"></script>
    <script src="css/reservation.js"></script>
    
    <title>Bora Bora</title>
</head>
<body>
    <div class="content">
    <div class="header">
        <img src="css/logo.png" alt="logo">
        <h2 id="coloredText">Probably the best manele club in the world.</h2>
    </div>

    <div class="navbar">
        <a href="\home">Acasa</a>
        <a href="\about">Despre</a>
        <a href="events" id="eventmenu">Evenimente</a>
        <a href="\menu">Meniu</a>
        <a href="\contact">Contact</a>
        <% if(user){ %>
            <a href="/logout" class="right">Logout</a>
            <a href="/myaccount" class="right" id="mail"><%= user.email %></a>
            
        <%} else {%>
            <a href="/login" class="right">Log in </a>
            <a href="/signup" class="right">Sign up</a>
        <%}%>
    </div>
    <div class="main">
        <h1 id="text"></h1>
    </div>
    </div>
    <div class="footer">
        <p>© Copyright 2022  |  Bora Bora |  Toate Drepturile Rezervate  | Politica de confidentialitate </p>
        <a href="https://www.facebook.com/boraboranightclub">
             <img src="css/facebookicon.png" alt="logoFacebook">
            </a>
    </div>
</body>
</html>